<div class='container'>

  <!-- if signed in -->
  <div *ngIf='isSignedIn'>

    <!-- if a volunteer good -->
    <div *ngIf='isVolunteer'>

      <h4>Volunteer</h4>

      <!-- get mission list data errors -->
      <div class='text-danger'>{{ errors.volunteerMissionList }}</div>

      <!-- on duty requests -->
      <div class='card my-2'>
        <div class='card-header bg-secondary'>
          <a class='text-white' href='#' data-toggle='collapse' data-target='#volunteerOnDutyCollapse'>On Duty Requests</a>
        </div>
        <div class='collapse show' id='volunteerOnDutyCollapse'>
          <div class='card'>
            <div class='table-responsive'>
              <table class='table'>
                <thead>
                  <tr>
                    <th class='text-nowrap' scope='col' rowspan='2'>Requester</th>
                    <th class='text-nowrap' scope='col' rowspan='2'>Pick up address</th>
                    <th class='text-nowrap' scope='col' rowspan='2'>Home address</th>
                    <th class='text-nowrap' scope='col' rowspan='2'>Situation</th>
                    <th class='text-nowrap' scope='col' colspan='4'>Checkpoints</th>
                    <th class='text-nowrap' scope='col' rowspan='2'>Driver 1</th>
                    <th class='text-nowrap' scope='col' rowspan='2'>Driver 2</th>
                    <th class='text-nowrap' scope='col' rowspan='2'>Volunteer?</th>
                  </tr>
                  <tr>
                    <th class='text-nowrap' scope='col'>0</th>
                    <th class='text-nowrap' scope='col'>1</th>
                    <th class='text-nowrap' scope='col'>2</th>
                    <th class='text-nowrap' scope='col'>3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf='missions.onDuty.length === 0'>
                    <td colspan='11'>No on-duty rides requests are currently open.</td>
                  </tr>
                  <tr *ngFor='let mission of missions.onDuty'>
                    <td>{{ mission.drivee }}</td>
                    <td>{{ mission.startplace }}</td>
                    <td>{{ mission.endplace }}</td>
                    <td>{{ mission.situation || 'No request situation was given.' }}</td>
                    <td><i [ngClass]='{ "fas": true, "fa-clock text-danger": mission.w0 === null, "fa-check text-success": mission.w0 !== null }'></i></td>
                    <td><i [ngClass]='{ "fas": true, "fa-clock text-danger": mission.w1 === null, "fa-check text-success": mission.w1 !== null }'></i></td>
                    <td><i [ngClass]='{ "fas": true, "fa-clock text-danger": mission.w2 === null, "fa-check text-success": mission.w2 !== null }'></i></td>
                    <td><i [ngClass]='{ "fas": true, "fa-clock text-danger": mission.w3 === null, "fa-check text-success": mission.w3 !== null }'></i></td>
                    <td>{{ mission.driver1 }}</td>
                    <td>{{ mission.driver2 }}</td>
                    <td><button *ngIf='mission.isEligible' class='btn btn-outline-primary' (click)='volunteer(mission.id)'>Volunteer?</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- off-duty requests (coming soon) -->
      <!-- just copy on-duty requests, different server side -->

      <!-- duty dates here -->
      <div class='card my-2'>
        <div class='card-header bg-secondary'>
          <a class='text-white' href='#' data-toggle='collapse' data-target='#volunteerDatesCollapse'>Volunteer Dates</a>
        </div>
        <div class='collapse' id='volunteerDatesCollapse'>
          <div class='card-body'>
            <h6>Team: {{ teamData.name }}</h6>
            <h6>Captain: {{ teamData.captain }}</h6>
            <table class='table'>
              <thead>
                <tr>
                  <th scope='col'>Date</th>
                  <th scope='col'>Supervisor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let date of teamData.dates'>
                  <td>{{ date.date }}</td>
                  <td>{{ date.adult || 'none assigned' }}</td>
                </tr>
              </tbody>
            </table>
            <p>The volunteer dates are subject to change. These dates may not take into account recent changes to the schedule. To get the most up-to-date schedule, contact a <a routerLink='/about'>Safe Rides leader</a>.</p>
            <p>For more information, see the &quot;Volunteer Information&quot; tab on the <a routerLink='/about'>about</a> page.</p>
          </div>
        </div>
      </div>

    </div>

    <!-- if not a volunteer -->
    <div *ngIf='!isVolunteer'>
      <p>You must be registered as a volunteer. Contact a <a routerLink='/about'>Safe Rides leader</a> to register.</p>
    </div>

  </div>

  <!-- if not signed in -->
  <div *ngIf='!isSignedIn'>
    <p>You must <a routerLink='/signin'>sign in</a> or <a routerLink='/signup'>sign up</a> and be registered to volunteer to see this content.</p>
  </div>

</div>
