<h3>Sign in</h3>
<form>
  <div class='form-group'>
    <label class='control-label' for='signInEmail'>Email address</label>
    <input [ngClass]='{ "form-control": true, "is-invalid": errors.signInEmail !== undefined }'
      type='email'
      placeholder='johndoe@gmail.com'
      maxlength='254'
      id='signInEmail'
      name='signInEmail'
      [(ngModel)]='signInEmail'
      (keydown)='submitOnEnter($event)'>
    <small class='form-text invalid-feedback'>{{ errors.signInEmail }}</small>
  </div>
  <div class='form-group'>
    <label class='control-label' for='signInPassword'>Password</label>
    <input [ngClass]='{ "form-control": true, "is-invalid": errors.signInPassword !== undefined }'
      type='password'
      placeholder='********'
      maxlength='50'
      id='signInPassword'
      name='signInPassword'
      [(ngModel)]='signInPassword'
      (keydown)='submitOnEnter($event)'>
    <small class='form-text invalid-feedback'>{{ errors.signInPassword }}</small>
  </div>
  <div class='form-group'>
    <input class='btn btn-outline-primary' type='button' value='Sign in' id='signInButton' (click)='signIn()'>
  </div>
</form>
<p>Don't have an account? <a routerLink='/signup'>Sign up</a>.</p>
