<h4>Request a ride</h4>
<form>
  <div class='form-group'>
    <label class='control-label' for='requestLocation'>Current Location</label>
    <input
      [ngClass]='{ "form-control": true, "is-invalid": errors.requestLocation !== undefined }'
      autofocus
      type='text'
      maxlength='256'
      autocomplete='off'
      autocorrect='off'
      placeholder='100 Black Rock Tpke., Redding, CT 06896'
      id='requestLocation'
      name='requestLocation'
      [(ngModel)]='requestLocation'
      (blur)='updateMap()'
      (keydown)='submitOnEnter($event)'>
    <small class='form-text invalid-feedback'>{{ errors.requestLocation }}</small>
  </div>
  <div class='form-group'>
    <small class='form-text'>Please confirm that the location found is correct using the map below.</small>
    <div class='jumbotron jumbotron-fluid' #addressMap></div>
  </div>
  <div class='form-group'>
    <label class='control-label' for='requestMessage'>Describe your situation to Safe Rides volunteers <small class='text-secondary'>(optional)</small></label>
    <input
      class='form-control'
      type='text'
      maxlength='500'
      placeholder='I feel unsafe and would like a safe, confidential ride home.'
      id='requestMessage'
      name='requestMessage'
      [(ngModel)]='requestMessage'>
    <small class='form-text text-secondary'>Leave a short blurb here to help the volunteers understand your general situation.</small>
  </div>
  <div class='form-group'>
    <input
      class='btn btn-outline-primary'
      type='button'
      value='Request a Safe Ride'
      (click)='request()'>
  </div>
</form>
