<div class='container'>

  <!-- short blurb and contact info -->
  <h4>Call Safe Rides: <a href='tel:12033080604'>+1 (203) 308 0604</a>.</h4>
  <p>Here is some information relating to Safe Rides. If you have questions that are not addressed here, contact:</p>
  <ul>
    <li>Michael Klein Wassink, co-founder <a href='mailto:michael.klein-wassink@er9.org'>michael.klein-wassink@er9.org</a>
    <li>Luca Cerbin, co-founder <a href='mailto:luca.cerbin@er9.org'>luca.cerbin@er9.org</a>
    <li>Jonathan Lam, sitemaster <a href='mailto:jonathan.lam@er9.org'>jonathan.lam@er9.org</a>
  </ul>

  <!-- accordian of faqs -->
  <div id='faqAccordian'>

    <!-- information about volunteering -->
    <div class='card my-2'>
      <div class='card-header'>
        <a class='text-dark' href='#' data-toggle='collapse' data-target='#faqHowItWorks'>How it works</a>
      </div>
      <div class='collapse' id='faqHowItWorks' data-parent='#faqAccordian'>
        <div class='card-body'>
          <p>Safe Rides is a program to help students from the ER9 region get a safe, confidential ride home on Friday and Saturday nights.</p>
          <p>(more content coming here soon&hellip;)</p>
        </div>
      </div>
    </div>

    <!-- information about volunteering -->
    <div class='card my-2'>
      <div class='card-header'>
        <a class='text-dark' href='#' data-toggle='collapse' data-target='#faqVolunteerInformation'>Volunteer information</a>
      </div>
      <div class='collapse' id='faqVolunteerInformation' data-parent='#faqAccordian'>
        <div class='card-body'>
          <p>To register to be a volunteer, please contact Michael Klein-Wassink or Luca Cerbin.</p>
          <p>Volunteers must report to the meeting area at Saint Patrick's Church on Black Rock Turnpike between 10:00p.m. on a scheduled night and 2:00a.m. the next day.</p>
        </div>
      </div>
    </div>

    <!-- privacy policy (copied from sign-up component) -->
    <div class='card my-2'>
      <div class='card-header'>
        <a class='text-dark' href='#' data-toggle='collapse' data-target='#faqPrivacyPolicy'>Privacy policy</a>
      </div>
      <div class='collapse' id='faqPrivacyPolicy' data-parent='#faqAccordian'>
        <div class='card-body'>
          <p>We will never share your personal information except in the case of emergency (imminent harm to other people) or for official recordkeeping. Logs of information from all Safe Rides requests will be kept for official use. We will never see nor share your password.</p>
          <p>The following information may be shared with on-duty volunteers when requesting a ride:</p>
          <ul>
            <li>Name</li>
            <li>Phone number</li>
            <li>Home address</li>
            <li>Timestamps of picking up or dropping off people</li>
          </ul>
          <p>If you are a volunteer, you agree to receive text messages from Safe Rides notifying of duty times and Safe Rides requests when you are on-duty, or on non-standard times.</p>
        </div>
      </div>
    </div>

    <!-- site information -->
    <div class='card my-2'>
      <div class='card-header'>
        <a class='text-dark' href='#' data-toggle='collapse' data-target='#faqWebsiteInformation'>Website information</a>
      </div>
      <div class='collapse' id='faqWebsiteInformation' data-parent='#faqAccordian'>
        <div class='card-body'>
          <p>Please report all site issues to Jonathan Lam.</p>
          <p>If you'd like to contribute to or maintain this project, please contact Jonathan Lam.</p>
        </div>
      </div>
    </div>

  </div>

</div>
