<div class='container'>

  <!-- if signed in -->
  <div *ngIf='isSignedIn'>

    <!-- if mission, mission page; put on its own page because of its complexity -->
    <app-mission *ngIf='mission.id !== undefined'></app-mission>

    <!-- if no mission, request page -->
    <div *ngIf='mission.id === undefined'>
      <h4>Request a ride</h4>
      <form>
        <div class='form-group'>
          <label class='control-label' for='requestLocation'>Current Location</label>
          <input
            class='form-control'
            type='text'
            placeholder='100 Black Rock Tpke., Redding, CT 06896'
            id='requestLocation'
            name='requestLocation'
            [(ngModel)]='requestLocation'>
        </div>
        <div class='form-group'>
          <label class='control-label' for='requestMessage'>Message to Safe Rides Volunteers</label>
          <input
            class='form-control'
            type='text'
            placeholder='I feel unsafe and would like a safe, confidential ride home.'
            id='requestMessage'
            name='requestMessage'
            [(ngModel)]='requestMessage'>
        </div>
        <div class='form-group'>
          <input
            class='btn btn-outline-primary'
            type='button'
            value='Request a Safe Ride'
            (click)='request()'>
        </div>
      </form>
    </div>

  </div>

  <!-- if not signed in -->
  <div *ngIf='!isSignedIn'>
    <p>You must <a routerLink='/signin'>sign in</a> or <a routerLink='/signup'>sign up</a> to request a ride.</p>
  </div>

</div>
