<div class='container'>

  <!-- news alert; manual update -->
  <div class='alert alert-info'>Don't miss the <a href='https://aspetuck.news/lead-news/mock-crash-at-barlow-on-april-30-101793' target='_blank'>mock car crash demonstration</a> on Monday, April 30th.</div>

  <!-- if signed in show profile -->
  <div *ngIf='isSignedIn'>
    <h4>Profile</h4>

    <!-- another news alert for logged in users; manual update -->
    <div class='alert alert-danger'><strong>Security update:</strong> If you signed up before 4/17/18, update your password with the 'Edit password' button. More details <a routerLink='/about'>here</a>.</div>

    <!-- edit user details -->
    <div class='modal' id='editModal' tabindex='-1' role='dialog' #editModal>
      <div class='modal-dialog' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h4>Edit {{ changeField }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
          </div>
          <div class='modal-body'>
            <div class='form-group'>
              <label for='changeField'>Enter new {{ changeField }}</label>
              <!-- TODO: fix type, maxlength based on input type -->
              <input
                [ngClass]='{ "form-control": true, "is-invalid": errors.changeFieldValue !== undefined }'
                id='changeField'
                name='changeFieldValue'
                [(ngModel)]='changeFieldValue'
                [type]='changeField === "password" ? "password" : "text"'
                autocorrect='off'
                autocomplete='off'
                maxlength='256'
                placeholder='new {{ changeField }}'>
              <small class='form-text invalid-feedback'>{{ errors.changeFieldValue }}</small>
            </div>
            <div class='form-group' *ngIf='changeField === "password"'>
              <label for='changeFieldPassword'>Enter new password again</label>
              <input
                [ngClass]='{ "form-control": true, "is-invalid": errors.changeFieldPassword !== undefined }'
                id='changeFieldPassword'
                name='changeFieldPassword'
                [(ngModel)]='changeFieldPassword'
                type='password'
                autocorrect='off'
                autocomplete='off'
                maxlength='256'
                placeholder='new password again'>
              <small class='form-text invalid-feedback'>{{ errors.changeFieldPassword }}</small>
            </div>
            <div class='form-group'>
              <label for='changeFieldCurrentPassword'>Enter current password</label>
              <input
                [ngClass]='{ "form-control": true, "is-invalid": errors.changeFieldCurrentPassword !== undefined }'
                id='changeFieldCurrentPassword'
                name='changeFieldCurrentPassword'
                [(ngModel)]='changeFieldCurrentPassword'
                type='password'
                autocorrect='off'
                autocomplete='off'
                maxlength='256'
                placeholder='current password'>
              <small class='form-text invalid-feedback'>{{ errors.changeFieldCurrentPassword }}</small>
            </div>
          </div>
          <div class='modal-footer'>
            <input class='btn btn-outline-danger' type='button' (click)='submitEdit()' value='Edit {{ changeField }}'>
            <input class='btn btn-outline-secondary' type='button' (click)='edit(null)' data-dismiss='modal' value='Cancel'>
          </div>
        </div>
      </div>
    </div>

    <!-- user data table -->
    <div class='table-responsive'>
      <table class='table'>
        <tbody>
          <tr>
            <th scope='row'>Email</th>
            <td>{{ userDetails.email }}</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope='row'>Name</th>
            <td>{{ userDetails.name }}</td>
            <td><button class='btn btn-outline-danger' (click)='edit("name")' data-toggle='modal' data-target='#editModal'>Edit</button></td>
          </tr>
          <tr>
            <th scope='row'>Phone</th>
            <td>{{ userDetails.phone }}</td>
            <td><button class='btn btn-outline-danger' (click)='edit("phone number")' data-toggle='modal' data-target='#editModal'>Edit</button></td>
          </tr>
          <tr>
            <th scope='row'>Address</th>
            <td>{{ userDetails.address }}</td>
            <td><button class='btn btn-outline-danger' (click)='edit("address")' data-toggle='modal' data-target='#editModal'>Edit</button></td>
          </tr>
          <tr>
            <th scope='row'>Volunteer team</th>
            <td>{{ userDetails.team || 'None' }}</td>
            <td>
              <button class='btn btn-outline-danger' (click)='edit("volunteer key")' *ngIf='userDetails.team === null' data-toggle='modal' data-target='#editModal'>Use a key</button>
              <span *ngIf='userDetails.team !== null'>&nbsp;</span>
            </td>
          </tr>
          <tr>
            <td colspan='3'>
              <button class='btn btn-outline-danger' (click)='edit("password")' data-toggle='modal' data-target='#editModal'>Edit password</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- sign out -->
    <button class='btn btn-outline-primary' (click)='signOut()'>Sign out</button>
  </div>

  <!-- sign in and sign up if user is not signed in -->
  <div *ngIf='!isSignedIn'>
    <app-sign-in *ngIf='isSignInForm'></app-sign-in>
    <app-sign-up *ngIf='!isSignInForm'></app-sign-up>
  </div>

</div>
